# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# База данных результатов тестов и временные файлы
quiz_results.json
quiz_data/

# Конфиденциальные файлы или ключи
secret_config.json
*.key